<form class="d-flex form-floating mt-5">
  <input class="form-control text-light bg-dark btn-outline-secondary" type="search" placeholder="Search" id="search-box" aria-label="Search" autocomplete="off">
  <label class="text-secondary" for="search-box"> <i class="bi bi-search"></i> Looking for something?</label>
</form>