<%- include('../partials/_header.ejs') %>

  <h1 class="display-5">Something interesting...</h1>
  <form action="/articles" method="post" class="mt-4">
    <%- include('_form_fields') %>
  </form>

<%- include('../partials/_footer.ejs') %>